# 设置调试器和MCU, openocd 已经给我们写好了
source [find interface/stlink.cfg]
source [find target/stm32h7x.cfg]


# 复位设置, 对于 ST-link SWD 模式, 必须设置才能软复位
reset_config none separate

# 下载程序
program  build/demo.elf verify

